// Place all the styles related to the ramen_shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star-rating {
    position:relative;
    width:5em;
    height:1em;
    font-size:25px;
}

.star-rating-front {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    color:#fc3;
}

.star-rating-back {
    color:#ccc;
}

.average-score {
  display:flex;
}

.average-score-display {
  font-size:16px;
}

.shop-intro {
    width:100%;
    background-color:white;
    color:black;
    padding:40px 15px 15px 30px;
    line-height:32px;
    display:inline-block;
    font-size:13px;
    text-decoration:underline;
}

.shop-intro-img {
  width:100%;
  background-color:white;
  color:black;
  padding:15px;
  line-height:25px;
  display:inline-block;
  font-size:12px;
}

.shop-detail {
  width:100%;
  background-color:white;
  color:black;
  padding:20px 15px 25px 15px;
  line-height:25px;
  font-size:13px;
  border-top:1px solid rgba(10, 10, 10, 0.205);
  border-bottom:1px solid rgba(10, 10, 10, 0.205);
}

.about-shop {
  display:flex;
}

.owner-name {
  display:flex;
  justify-content:center;
  font-size:13px;
  padding-top:5px;
  word-spacing:10px;
}

.ramen-img {
  width:33.3%;
  height:20%;
  display:flex;
}

.ramens {
  background-color:white;
  color:black;
  display:flex;
  justify-content:center;
  padding: 5px 0;
}

.pop-ramens {
  display:flex;
  width:100%;
}

.pop-ramen {
  width:33.3%;
  display:flex;
  justify-content:center;
  margin-bottom:30px;
  background-color:white;
  color:black;
  border:0.5px rgba(0, 0, 0, 0.068) solid;
}